---
BasedOnStyle: LLVM
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
BreakBeforeBraces: Custom
BraceWrapping:
 AfterCaseLabel: true
 AfterClass: true
 AfterControlStatement: Always
 AfterFunction: true
 AfterNamespace: true
 AfterEnum: true
 AfterStruct: true
 AfterUnion: true
 BeforeCatch: true
 BeforeElse: true
 BeforeLambdaBody: true
 IndentBraces: false
 SplitEmptyFunction: false
 SplitEmptyRecord: false
BinPackArguments: false
BinPackParameters: false
#BreakBeforeBraces: GNU
ColumnLimit: 120
#Wanna change to regroup, but includes are still wonky so
#ends up borking stuff
IncludeBlocks: Regroup
IndentCaseBlocks: true
IndentCaseLabels: true
UseTab: Never
IndentWidth: 4
InsertBraces: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Left
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
SortIncludes: true
#SortJavaStaticImport: After
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeParensOptions:
 AfterOverloadedOperator: true
Standard: c++17
